* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 5rem;
}

.nav ul {
  margin: 0;
}

.mainheader {
  background-color: black;
  background-size: cover;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  display: inline;
  padding-left: em;
}

.nav a {
  display: inline-block;
  padding: 0.1em;
  color: white;
  text-decoration: none;
  border-bottom: solid 2px black;
  padding-bottom: 0.2em;
}
.logobox {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  display: inline-block;
  width: 95%;
}

.main-nav li {
  padding: 0 5%;
}
.nav a:hover {
  border-bottom: solid 2px orange;
}

.profilepic img {
  float: right;
}

div.slide-right {
  width: 100%;
  overflow: hidden;
}
div.slide-right h1 {
  animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-left {
  width: 100%;
  overflow: hidden;
}
div.slide-left p {
  animation: slide-left 10s;
}

.testframe {
  width: 100%;
  overflow: hidden;
  background-color: orange;
  height: 85vh;
  margin-top: 64px;
}

.testtext {
  float: left;
  height: 85vh;
  width: auto;
  padding: 4em 0 0 4em;
}

.testimg {
  overflow: hidden;
  float: right;
  padding: 0 24.2em;
}

.testimg img {
  max-height: 85vh;
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  padding-left: 0em;
}

.namebox {
  overflow: hidden;
}
.name {
  margin-bottom: 0;
  float: left;
}

.undertitle {
  overflow: hidden;
  float: right;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 90px;
}

.textblock {
  margin: 1em;
}

.introtext {
  margin-left: 0em;
}

#pillarimage {
  margin-right: 3em;
}
.textsection {
  border-left: 2px solid rgb(255, 136, 0);
}

.imageblock img {
  display: inline-block;
}

.projects img {
  width: 1em;
}

.projectlist {
  font-size: 1.1em;
}

.projectlist ul {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0em;
}

.profilepic {
  object-fit: cover;
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}
.main-footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-footer-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.footertext {
  color: white;
}

.copyright {
  padding: 0 1em;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  margin-right: 10px;
  margin-left: 10px;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.6em;
  cursor: pointer;
}

#projects {
  margin-bottom: 180px;
}
